#find_key_help {
  width:95%;
  height:250px;
  overflow:auto;
}

#find_key_help .form-item {
	width: 35%;
}

#find_key_help table{
	width:80%;
}

#find_key_help td, th{
	padding-top: 0.1em;
	padding-right: 0.4em;
	padding-bottom: 0.1em;
	padding-left: 0.3em;
}

.key-help a{
	white-space: nowrap;
}

